* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.block1 {
  font-size: 14px;
  line-height: 20px;
}

.block1 {
  h1 {
    font-size: 30px;
    font-weight: bold;
  }
}

//Вложенность &, class.class2
//Переменные $
//Импорт @import sstyle.scss
//Шаблоны % and . (в начале можно или в конце) @extend
//Миксины @mixin @include
//Математика
//Comments
//If for
